@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website is using price data for <a href="https://www.magiccardmarket.eu" target="_blank">Magic Card Market</a> API. Feel Free to visit their website!
</p>
<div>
    <div>
        <a href="https://www.magiccardmarket.eu" target="_blank"><img class="img-responsive" src="~/Content/MKM/CardmarketLogoBlue2.png" width="256"/></a>
    </div>
</div>
