@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url(/Content/BANNER.jpg);color:white">
    <h1>MTG Watchers</h1>
    <p class="lead">Optimal Card Price Tracker</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Upload Your Collection</h2>
        <p>
            Upload your SellList or very personnal collection to the website and let our engine track and analyse for you the daily value of your cards
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track values of cards</h2>
        <p>Thanks to many different API (MKM - <a href="https://www.magiccardmarket.eu/" target="_blank">Magic Card Market</a>) 
        we analyse price of cards to help you follow the market spikes and drops.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Speculate, Trade/Sell</h2>
        <p>We can provide many different statistics and forecasts to help you make decisions and providing you tools to speculate on cards.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Modern Trends</h2>        
        <p><a class="btn btn-default" href="">Full Review &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Frontier Trends</h2>       
        <p><a class="btn btn-default" href="">Full Review &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Standard Trends</h2>       
        <p><a class="btn btn-default" href="">Full Review &raquo;</a></p>
    </div>
</div>