body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 720px;
}



.gradient-uncommon{
    background: -webkit-linear-gradient(left, #707070, #C0C0C0, #707070);
	background: linear-gradient(left, #707070, #C0C0C0,#707070);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 16px;
}

.gradient-rare{
    background: -webkit-linear-gradient(left, #97824d, #d2bc84, #97824d);
	background: linear-gradient(left, #97824d, #d2bc84,#97824d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 16px;
}

.gradient-mythic{
    background: -webkit-linear-gradient(left, #ef2a24, #f58127, #ef2a24);
	background: linear-gradient(left, #ef2a24, #f58127,#ef2a24);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 16px;
}